<nav class="my-navbar">
    <h1 class="logo is-size-3">WebChat</h1>
    <div class="profile">
        <p class="profile-user"></p>
        <button id="logout-btn" class="button logout-btn " >Logout</button>
    </div>
</nav>