<nav class="my-navbar">
    <h1 class="logo is-size-3">WebChat</h1>
    <div class="profile">
        <p class="profile-user is-size-4" style="margin-right: 20px;"></p>
        <button id="logout-btn" class="button logout-btn is-light" >Logout</button>
    </div>
</nav>