<div class="chat-window" id="chat-window">
    <div class="chat-history" id="chat-history">
    </div>
    <div class="send-area" id="send-area">
        <input placeholder="Write a message" type="text" name="message" id="message-input" class="input is-primary message-input">
        <div class="send-btn">Send</div>
    </div>
</div>