<div class="user-dash" id="user-dash">
    <div class="your-chat">
        <p class="is-size-4" style="font-weight: 600;">Your Chats</p>
    </div>
    <div class="your-list" style="margin-top: 6px;">
    </div>
</div>