<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
</head>

<body>
    <%- include('../partials/authnav')%>
    <div class="container">
        <h1 class="login-head">Login</h1>
        <form action="/auth/login" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email-login">
            </div>
            <div class="form-group">
                <label for="username">Password</label>
                <input type="text" name="password" id="password-login">
            </div>
            <div class="btn-group">
                <button class="btn login-btn" type="submit">Login</button>
                <a href="/auth/register" class="btn register-btn">Register me</button>
            </div>
        </form>
    </div>
    <script src="js/main.js"></script>
</body>

</html>