@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');


.auth-container{
    max-width: 550px;
    height: 70%;
    margin: 2.8% auto;
    padding: 20px;
    box-shadow: 1px 1px 2px rgb(202, 201, 201),
                -1px -1px 2px rgb(202, 201, 201);
}

.auth-mg{
    margin-bottom: 6%;
}

.my-navbar{
    background-color: blueviolet;
    color: white;
    box-shadow: 1px 2px 2px rgb(202, 201, 201),
                -1px -1px 2px rgb(202, 201, 201);
}

.logo{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-left: 2%;
}