*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100vw;
    height: 2.5rem;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50%;
    font-size: 2rem;
}

.container{
    width: 100vw;
    height: 86vh;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    border: none;
    height: 2.5rem;
    font-size: 2rem;
}
