@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');


*::-webkit-scrollbar{
    display: none;
}

*{
    font-family: 'Roboto', sans-serif;
}

.auth-container{
    max-width: 550px;
    height: 70%;
    margin: 2.8% auto;
    padding: 20px;
    box-shadow: 1px 1px 2px rgb(202, 201, 201),
                -1px -1px 2px rgb(202, 201, 201);
}

.auth-mg{
    margin-bottom: 6%;
}

.my-navbar{
    background-color: blueviolet;
    color: white;
    box-shadow: 1px 2px 2px rgb(202, 201, 201),
                -1px -1px 2px rgb(202, 201, 201);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 800;
    padding-left: 20px;
}

.logout-btn{
    font-weight: 600;
    box-shadow: 1px 1px 2px rgb(202, 201, 201),
                -1px -1px 2px rgb(202, 201, 201);
}

.profile{
    display: flex;
    align-items: center;
    width: auto;
    color: white;
    padding-right: 20px;
}

.chat-container{
    max-width: 1280px;
    box-shadow: 1px 1px 2px rgb(202, 201, 201),
                -1px -1px 2px rgb(202, 201, 201);
    margin: 10px auto;
    margin-bottom: 0;
    height: 86vh;
    display: flex;
}

.user-dash{
    width: 40%;
    height: 100%;
    overflow-y: scroll;
    word-wrap: break-word;
    box-shadow: 2px 0px 4px rgb(202, 201, 201);
    /* background-color: #FFE9FF; */
}

.your-chat{
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 40px;
    box-shadow: 0px 2px 4px rgb(202, 201, 201);
}

.your-list-item{
    display: flex;
    width: 100%;
    align-items: center;
    /* background-color: #F9F871; */
    color: black;
    box-shadow: 0px 1px 2px rgb(202, 201, 201),
                0px -1px 2px rgb(202, 201, 201);
    margin-top: 8px;
}



.chat-window{
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    word-wrap: break-word;
    position: relative;
    background-color: rgb(239, 234, 243);
}

.send-area{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    box-shadow: 0px -2px 6px rgb(202, 201, 201);
}

.message-input{
    width: 75%;
    border-radius: 0 !important;
    font-size: 1.2rem !important;
}

.send-btn{
    width: 25%;
    font-size: 1.5rem;
    border: none;
    background-color: hsl(141, 71%, 48%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.send-btn:hover{
    opacity: 0.8;
    transition: all ease;
}